/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Elements */

/* p {
  color: black;
} */

ul {
  list-style: none;
  margin-top: 0.3rem;
  padding-left: 1.8rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
}

h2 {
  /* font-family: "Arizonia", cursive; */
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin: 3rem auto 1.5rem;
}

h4 {
  margin: 0.4rem auto -0.2rem;
  padding-left: 1.7rem;
}

h2,
h3,
h4,
h5 {
  color: #17aee8;
}

p,
li {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0.02rem;
  line-height: 1.5;
}

body {
  background-color: #353536;
}

img {
}

main {
  margin-bottom: 100px;
}

footer {
  background-color: #353536;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid white;
}

@media screen and (min-width: 31.25em) {
  p {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  main {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 48em) {
  main {
    margin-bottom: 0;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 55em) {
  main {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Links */
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover .icon {
  fill: #17aee8;
  transition: all 0.5s ease-in-out;
}

a:active,
a:focus {
  color: #e1341e;
}

/* Header */

.AppRouter {
  padding: 1rem;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-content {
  flex: 1 0 auto;
}

.site-header,
.site-footer {
  flex-shrink: 0;
}

.name-title {
  font-family: "Arizonia", cursive;
  font-size: 3.6rem;
  color: #17aee8;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.job-title {
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

/* skip link code borrowed from: https://levelup.gitconnected.com/build-an-accessible-skip-to-content-anchor-link-with-react-140903f3bd7e */
.skip-nav {
  margin-right: 1rem;
  position: absolute;
  transform: translateX(-200%);
  transition: transform 0.3s;
}

.skip-nav:focus {
  position: static;
  transform: translateX(0);
}

@media screen and (min-width: 51.44em) {
  .disappearing-title {
    display: none;
  }

  .fixed {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;
    padding: 1rem 3rem, 0;
    /* padding-bottom: 0; */
    overflow: hidden;
  }
}

/* Light Mode */

.light {
  background-color: #fff;
}

.light header {
  background-color: #fff;
}

.light footer {
  background-color: #fff;
  border-top: 1px solid #3c3c3c;
}

.light .original-color,
.light .darktext,
.light .name-title,
.light .top-h1,
/* .light .bottomnav-list-item, */
.light h2,
.light p {
  color: black;
}

.light .darktext:hover {
  background-color: #1746e8;
  color: white;
}

.light .top-button-block:hover {
  background-color: #1746e8;
}

.light .top-nav-text:hover {
  color: white;
}

.light .icon {
  fill: black;
}

.light h3,
.light h4,
.light h5 {
  color: #1746e8;
}

.light a:hover .icon,
.light .email .icon:hover {
  fill: #1746e8;
}

.light .get-email {
  color: #1746e8;
}

.light .works-top-level {
  border: 2px solid #1746e8;
}

.light .see-more-button {
  border: 2px solid black;
  color: black;
  background-color: white;
}

.light .see-more-button:active,
.light .see-more-button:focus,
.light .see-more-button:hover {
  border: 2px solid #1746e8;
  color: white;
  background-color: #1746e8;
}

/* .light .works-container > h2, */
.light .works-section {
  border-bottom: 2px solid #1746e8;
}

.light .work-cover-image,
.light .work-small-image {
  border: 2px solid #1746e8;
}

@media screen and (min-width: 51.44em) {
  .light .darktext {
    color: black;
  }
}

/* Navigation */

.topnav {
  display: none;
}

.bottomnav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  padding: 0 1rem;
}

.bottomnav-list-item {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  align-items: center;
  /* color: white; */
}

.light-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.light-icon-container .darktext {
  position: relative;
  top: 1px;
}

.light-icon-container .darktext:hover {
  background-color: #353536;
  fill: white;
}

.light-icon-container:hover .light-icon {
  fill: #17aee8;
  transition: all 0.5s ease-in-out;
}

/* .light-icon:hover {
  fill: #17aee8;
  transition: all 0.5s ease-in-out;
} */

#hash-top {
  padding-top: 120px;
  margin-top: -120px;
}

.icon {
  /* fill: #17aee8; */
  fill: white;
}

.light-icon {
  fill: white;
}

.bottom-nav-name {
  margin: 0;
}

.darktext {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0.02rem;
  line-height: 1.5;
  cursor: pointer;
  display: inline-block;
  /* padding: 20px 8px; */
  border-radius: 10%;
}

.darktext:hover {
  background-color: #17aee8;
  transition: background-color 0.5s ease-in-out;
}

header {
  background-color: #353536;
}

@media screen and (min-width: 31.25em) {
  .bottomnav-list-item {
    flex-direction: row;
  }

  .bottom-nav-name {
    padding-left: 0.75rem;
  }
}

@media screen and (min-width: 51.44em) {
  .darktext {
    font-size: 1.2rem;
    padding: 20px 8px;
    border-radius: 10%;
  }

  .topnav {
    display: flex;
    justify-content: space-between;
  }

  .top-nav-list {
    display: flex;
  }

  .top-nav-list > li {
    padding: 0.5rem 0.5rem;
  }

  .top-nav-text {
    letter-spacing: 0.04rem;
  }

  .nav-titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .top-h1 {
    color: #17aee8;
    font-family: "Arizonia", cursive;
    font-size: 3rem;
  }

  .top-h2 {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .top-button-block {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 10%;
  }

  .top-button-block:hover {
    background-color: #17aee8;
    transition: all 0.5s ease-in-out;
  }

  .top-button-block:active {
    border: 1px solid white;
  }

  .top-button-block:focus {
    border: 1px solid #e1341e;
  }

  .bottomnav {
    display: none;
  }
}

@media screen and (min-width: 68.75em) {
  #hash-top {
    padding-top: 100px;
    margin-top: -100px;
  }
}

/* Home Page */
.intro {
  margin-top: 6rem;
}

@media screen and (min-width: 48.25em) {
  .intro {
    /* margin-top: 12rem; */
  }
}

/* Works Page */

#hash-works {
  /* padding-top: 100px;
  margin-top: -100px; */
}

.image-and-tech {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.works-title {
  text-align: left;
}

.works-top-level {
  border-radius: 10px;
  width: 10rem;
  height: auto;
  border: 2px solid white;
}

.works-second-level {
  height: 6rem;
  width: auto;
}

.see-more-button {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0.8rem;
  width: 8rem;
  color: #17aee8;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  margin: 2.5rem auto 0;
  text-align: center;
}

.see-more-button::after {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.see-more-button:hover::after {
  opacity: 1;
}

.see-more-button:active,
.see-more-button:focus,
.see-more-button:hover {
  border: 2px solid #17aee8;
  color: white;
  transform: scale(1.01, 1.01);
}

.works-container {
  margin-top: 5rem;
}

.works-container > h2 {
  /* border-bottom: 1px solid white; */
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.works-section {
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  position: relative;
}

.tech-names {
  font-size: 0.9rem;
}

@media screen and (min-width: 31.25em) {
  .works-top-level {
    width: 70rem;
  }

  .image-and-tech {
    display: flex;
    flex-direction: column;
  }

  .image-and-tech > img {
  }

  .tech-names {
    font-size: 1.2rem;
  }

  .see-more-button {
    position: absolute;
    right: 2rem;
    bottom: 6.6rem;
  }

  .tech-stack {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 68.75em) {
  #hash-works {
    padding-top: 100px;
    margin-top: -100px;
  }
}

/* Single Work Page */
#hash-work {
  padding-top: 500px;
  margin-top: -500px;
}
*/ .work-title {
  margin: 3rem auto 2rem;
  font-size: 2rem;
}

.work-cover-image {
  margin-bottom: 1rem;
  border: 2px white solid;
}

.work-small-image {
  border: 2px white solid;
}

.work-features {
  margin-bottom: 0.5rem;
}

.work-features-article {
  margin-bottom: 3rem;
}

.learnings {
  padding-left: 0;
}

@media screen and (min-width: 68.75em) {
  #hash-work {
    padding-top: 500px;
    margin-top: -500px;
  }
}

/* Contact Page */
#hash-contact {
  padding-top: 150px;
  margin-top: -150px;
  padding-bottom: 5rem;
}

.contact-paragraph {
  text-align: left;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
}

.original-color {
  color: white;
}

.contact-link {
  display: flex;
  flex-direction: column;
}

.contact-link svg {
  height: 2.5rem;
  width: auto;
  margin-top: 2rem;
}

.contact-link p {
  margin-top: 0;
}

.contact-paragraph {
  margin-top: 1.5rem;
}

.email {
  cursor: pointer;
}

.email .icon:hover {
  fill: #17aee8;
  transition: all 0.5s ease-in-out;
}

.relative {
  position: relative;
}

.get-email {
  position: absolute;
  right: -1.4rem;
  top: -1rem;
  z-index: 20;
  color: #1ee196;
}

@media screen and (min-width: 31.25em) {
  .get-email {
    right: -6rem;
    top: 2.7rem;
  }
}

@media screen and (min-width: 68.75em) {
  #hash-contact {
    padding-top: 200px;
    margin-top: -200px;
  }
}

/* About Page */

.article-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

.article-about img {
  width: 14rem;
  height: auto;
  margin-bottom: 2rem;
}

#hash-about {
  /* padding-top: 100px;
  margin-top: -100px; */
}

@media screen and (min-width: 31.25em) {
  .article-about img {
    width: 20rem;
  }
}

@media screen and (min-width: 68.75em) {
  #hash-about {
    padding-top: 100px;
    margin-top: -100px;
  }

  .article-about {
    flex-direction: row;
    align-items: flex-start;
  }

  .article-about p {
    margin-top: 0;
    margin-left: 1rem;
  }
}
