/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Elements */

/* p {
  color: black;
} */

ul {
  list-style: none;
  margin-top: 0.3rem;
  padding-left: 1.8rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
}

h2 {
  /* font-family: "Arizonia", cursive; */
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin: 3rem auto 1.5rem;
}

h4 {
  margin: 0.4rem auto -0.2rem;
  padding-left: 1.7rem;
}

h2,
h3,
h4,
h5 {
  color: #17aee8;
}

p,
li {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0.02rem;
  line-height: 1.5;
}

body {
  background-color: #353536;
  /* padding: 1rem; */
}

img {
}

main {
  margin-bottom: 100px;
}

footer {
  background-color: #353536;
  position: fixed;
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid white;
}

@media screen and (min-width: 31.25em) {
  p {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  main {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 48em) {
  main {
    margin-bottom: 0;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 55em) {
  main {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Links */
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  /* color: #e1341e; */
}

a:hover .icon {
  fill: #17aee8;
  transition: all 0.5s ease-in-out;
}

a:active,
a:focus {
  color: #e1341e;
}

/* Header */

.AppRouter {
  padding: 1rem;
}

.site {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-content {
  flex: 1 0 auto;
}

.site-header,
.site-footer {
  flex-shrink: 0;
}

.name-title {
  font-family: "Arizonia", cursive;
  font-size: 4.5rem;
  color: #17aee8;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.job-title {
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
}

.fixed {
  position: fixed;
  background-color: #353536;
  width: 100%;
  top: 0;
  z-index: 5;
  padding: 1rem 3rem;
}

@media screen and (min-width: 48em) {
  .disappearing-title {
    display: none;
  }
}

/* Navigation */

.topnav {
  display: none;
}

.bottomnav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottomnav-list-item {
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  padding-top: 0.5rem;
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  align-items: center;
  /* color: #17aee8; */
  color: white;
}

.hash-top {
  /* display: flex; */
  margin-top: 0;
  padding-top: 0;
}

.icon {
  /* fill: #17aee8; */
  fill: white;
}

.bottom-nav-name {
  /* padding-top: 0rem; */
  margin: 0;
}

@media screen and (min-width: 31.25em) {
  .bottomnav-list-item {
    flex-direction: row;
  }

  .icon {
    /* padding-right: 1rem; */
  }

  .bottom-nav-name {
    padding-left: 0.75rem;
  }
}

@media screen and (min-width: 48em) {
  .topnav {
    display: flex;
    justify-content: space-between;
  }

  .top-nav-list {
    display: flex;
  }

  .top-nav-list > li {
    padding: 0.5rem 0.5rem;
  }

  .top-nav-text {
    letter-spacing: 0.04rem;
  }

  .nav-titles {
    display: flex;
    flex-direction: column;
  }

  .top-h1 {
    color: #17aee8;
    font-family: "Arizonia", cursive;
    font-size: 3rem;
  }

  .top-h2 {
    font-size: 1.5rem;
    margin-top: 0rem;
  }

  .top-button-block {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 10%;
  }

  .top-button-block:hover {
    background-color: #17aee8;
    transition: all 0.5s ease-in-out;
  }

  .top-button-block:active {
    border: 1px solid white;
  }

  .top-button-block:focus {
    border: 1px solid #e1341e;
  }

  .bottomnav {
    display: none;
  }
}

/* Works Page */

.image-and-tech {
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
}

.works-title {
  text-align: left;
}

.works-top-level {
  border-radius: 10px;
  width: 10rem;
  height: auto;
  border: 0.5px solid white;
}

.works-second-level {
  height: 6rem;
  width: auto;
}

.see-more-button {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0.8rem;
  width: 8rem;
  color: #17aee8;
  font-weight: 700;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
  /* position: relative; */
  transition: all 0.5s ease-in-out;
  margin: 2.5rem auto 0;
  text-align: center;
}

.see-more-button::after {
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.see-more-button:hover::after {
  opacity: 1;
}

.see-more-button:active,
.see-more-button:focus,
.see-more-button:hover {
  border: 2px solid #17aee8;
  color: white;
  transform: scale(1.01, 1.01);
}

.works-container {
  margin-top: 5rem;
}

.works-container > h2 {
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.works-section {
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
  position: relative;
}

.tech-names {
  font-size: 0.9rem;
}

@media screen and (min-width: 31.25em) {
  .works-top-level {
    width: 70rem;
  }

  .image-and-tech {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* margin-right: -50%; */
    /* text-align: center; */
  }

  .image-and-tech > img {
  }

  .tech-names {
    font-size: 1.2rem;
  }

  .see-more-button {
    position: absolute;
    right: 2rem;
    bottom: 6.6rem;
  }

  .tech-stack {
    margin-top: 2rem;
    /* padding-left: 2rem; */
  }

  .works-center {
  }

  .works-section {
    /* width: 100%; */
  }

  .works-container {
  }
}

/* Contact Page */
.hash-contact {
  padding-bottom: 5rem;
}

.contact-paragraph {
  text-align: left;
}

.contact-icons {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  /* position: relative; */
}

.original-color {
  color: white;
}

.contact-link {
  display: flex;
  flex-direction: column;
}

.contact-link svg {
  height: 2.5rem;
  width: auto;
  margin-top: 2rem;
}

.contact-link p {
  margin-top: 0;
}

.contact-paragraph {
  margin-top: 1.5rem;
}

.email {
  cursor: pointer;
}

.email .icon:hover {
  fill: #17aee8;
  transition: all 0.5s ease-in-out;
}
.relative {
  position: relative;
}
.get-email {
  position: absolute;
  /* right: 6rem; */
  /* left: 10rem; */
  /* bottom: 0rem;  */
  /* top: 5rem; */
  z-index: 20;
  color: #1ee196;
}

/* About Page */

.article-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

.article-about img {
  width: 14rem;
  height: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 31.25em) {
  .article-about img {
    width: 20rem;
  }
}

@media screen and (min-width: 68.75em) {
  .article-about {
    flex-direction: row;
    align-items: flex-start;
  }

  .article-about p {
    margin-top: 0;
    margin-left: 1rem;
  }
}

/* Single Work Page */
.work-title {
  margin: 3rem auto 2rem;
  font-size: 2rem;
}

.work-cover-image {
  margin-bottom: 1rem;
}

.work-features {
  margin-bottom: 0.5rem;
}

.work-features-article {
  margin-bottom: 3rem;
}

.learnings {
  padding-left: 0;
}

.work-small-image {
  /* margin: 1rem auto; */
}

.features-para {
  /* margin-top: 0rem;
  margin-bottom: 3rem; */
}

.work-page {
  margin-top: 12rem;
}

/* Home Page */
.intro {
  margin-top: 12rem;
  /* margin-bottom: 10rem; */
}
